<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Dating Site</title>

    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-light bg-light">Dating Site</nav>
    <div class="container shadow-sm p-3 mb-5 bg-white rounded">
        <div class="row">
            <div class="col-lg-6">
                <h1>Dating for Dummies</h1>
                <p>
                    Sed mattis volutpat felis non varius. <strong>Dating for Dummy</strong>. Praesent ligula leo,
                    convallis vel sodales nec, efficitur a dolor. In hac habitasse platea dictumst. Nunc lacinia
                    lacinia metus vitae interdum. Donec pellentesque, urna eu consectetur semper, ipsum lacus
                    rhoncus diam, quis imperdiet risus nisi blandit quam. Sed dolor purus, vehicula sit amet lacus
                    vel, malesuada accumsan dui.
                </p>

                <h2 class="people-opinion">What people think about us.</h2>

                <hr class="px-5">

                <p class="font-italic">
                    "Sed pellentesque viverra ultrices. Sed efficitur rutrum interdum. Donec sit amet interdum ex. -Sam"
                </p>
                <p class="font-italic">
                   " Lorem ipsum dolor sit amet, consectetur adipiscing elit. -Odin"
                </p>
                <p class="font-italic">
                    "Nam tincidunt magna ante, quis lacinia ligula vestibulum et. -Sonny"
                </p>

                <hr class="px-5">


                <div id="create-profile">
                    <button class="btn btn-primary">Create a profile!</button>
                </div>

            </div>
            <div class="col-lg-6">
                <img src="images/couple.jpg" class="img-fluid rounded" alt="Responsive image">
            </div>

        </div>
    </div>


</body>

</html>