<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Interests</title>

    <!-- Personal CSS-->
    <link rel="stylesheet" href="styles/styles.css">

    <!-- Bootstrap CSS and script -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <!-- Nav bar for page -->
    <nav class="navbar navbar-light bg-light">Dating Site</nav>

    <!-- Main container -->
    <div class="container shadow-sm p-5 mb-5 mt-2 bg-white rounded">
        <h1>Interests</h1>
        <hr>

        <form action="summary" method="post">
            <!-- In-door interests -->
            <div class="col-12">
                <h4>In-door Interests</h4>
                <!-- First row of checkbox -->
                <label class="col-3 float-left">
                    <input type="checkbox" name="inDoor[]" value="tv"> tv
                </label>
                <label class="col-3 float-left">
                    <input type="checkbox" name="inDoor[]" value="movies"> movies
                </label>
                <label class="col-3 float-left">
                    <input type="checkbox" name="inDoor[]" value="cooking"> cooking
                </label>
                <label class="col-3 float-left">
                    <input type="checkbox" name="inDoor[]" value="board games"> board games
                </label>
                <!-- end of first row-->

                <!-- Second row of checkbox -->
                <label class="col-3 float-left">
                    <input type="checkbox" name="inDoor[]" value="puzzles"> puzzles
                </label>
                <label class="col-3 float-left">
                    <input type="checkbox" name="inDoor[]" value="reading"> reading
                </label>
                <label class="col-3 float-left">
                    <input type="checkbox" name="inDoor[]" value="playing cards"> playing cards
                </label>
                <label class="col-3 float-left">
                    <input type="checkbox" name="inDoor[]" value="video games"> video games
                </label>
                <!-- end of second row -->
                <br>
            </div>  <!-- end of in-door interests -->

            <!-- Out-door interests -->
            <div class="col-12 mb-5">
                <h4>Out-door Interests</h4>

                <!-- First row of checkbox -->
                <label class="col-3 float-left">
                    <input type="checkbox" name="outDoor[]" value="hiking"> hiking
                </label>
                <label class="col-3 float-left">
                    <input type="checkbox" name="outDoor[]" value="biking"> biking
                </label>
                <label class="col-3 float-left">
                    <input type="checkbox" name="outDoor[]" value="swimming"> swimming
                </label>
                <label class="col-3 float-left">
                    <input type="checkbox" name="outDoor[]" value="collecting"> collecting
                </label>
                <!-- end of first row -->

                <!-- Second row of checkbox -->
                <label class="col-3 float-left">
                    <input type="checkbox" name="outDoor[]" value="walking"> walking
                </label>
                <label class="col-3 float-left">
                    <input type="checkbox" name="outDoor[]" value="climbing"> climbing
                </label>
                <!-- end of second row -->
            </div>  <!-- end of out-door interests -->

            <input type="submit" class="btn btn-primary float-right" value="Next >">

        </form>
    </div>



</body>
</html>